@import '../../common/scss/size.scss';
@import '../../common/scss/color.scss';

.MusicTab {
  background-color: $gray-background;
  height: 45px;
  box-sizing: border-box;
  display: flex;
  .musicHead {
    width: 45px;
    height: 45px;
    border-radius: 3px;
    overflow: hidden;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .musicInfo {
    padding: 0 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    line-height: 20px;
    .musicName {
      flex: 1;
      font-size: $fontsize-medium;
      margin: 0;
    }
    .singer {
      flex: 1;
      font-size: $fontsize-small;
      color: $gray-deep;
      margin: 0;
    }
  }
}
