@import '../../common/scss/size.scss';
@import '../../common/scss/color.scss';

.progress {
    width: 100%;
    display: flex;
    align-items: center;
    .time {
        flex-basis: 60px;
        text-align: center;
    }
    .bar {
        flex: 1;
        height: 5px;
        border-radius: 5px;
        background-color: $gray-light;
        .inner {
            width: 50%;
            height: 5px;
            border-radius: 5px;
            background-color: $theme-highlight;
            position: relative;
            .point {
                width: 12px;
                height: 12px;
                border: 1px solid $gray-light;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                background-color: white;
                cursor: pointer;
                .pointInner {
                    width: 5px;
                    height: 5px;
                    display: inline-block;
                    border-radius: 50%;
                    background-color: $theme-highlight;
                }
            }
        }
    }
}