@import "../../common/scss/size.scss";
@import "../../common/scss/color.scss";

.progress {
  width: 100%;
  display: flex;
  align-items: center;
  .time {
    color: $gray-medium;
    margin-left: 15px;
  }
  .bar {
    flex: 1;
    height: 3px;
    border-radius: 5px;
    background-color: $gray-light;
    .inner {
      width: 0;
      height: 100%;
      border-radius: 5px;
      background-color: $theme-highlight;
      position: relative;
      .point {
        width: 10px;
        height: 10px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        background-color: $theme-highlight;
        cursor: pointer;
      }
    }
  }
}
