@import '../../common/scss/color.scss';
@import '../../common/scss/size.scss';

.header {
  height: $header-height;
  line-height: $header-height;
  display: flex;
  .back,
  .next {
    .iconfont {
      color: $gray-medium;
      font-size: $fontsize-large-xx;
    }
  }
  .back {
    margin-left: 50px;
    margin-right: 20px;
  }
}
