.header {
  height: $header-height;
  line-height: $header-height;
  display: flex;
  justify-content: space-between;
  background-color: var(--body-bgcolor);
  color: var(--header-font-color);
  font-size: $fontsize-large-xx;
  padding: 0 15px;
  .navWrap {
    display: flex;
    .back {
      margin-left: 10px;
      margin-right: 20px;
    }
    i {
      cursor: pointer;
    }
  }
  #zhuti {
    font-size: $fontsize-large-x;
    margin-right: 40px;
  }
}

.color {
  display: flex;
  .white {
    margin-left: 10px;
    .whiteInner {
      background-color: #fff;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      border: 1px solid gray;
      display: inline-block;
    }
  }
  .black {
    .blackInner {
      background-color: black;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      display: inline-block;
    }
  }
  p {
    text-align: center;
  }
}
