@import '../../common/scss/color.scss';
@import '../../common/scss/size.scss';

.header {
  height: $header-height;
  background-color: $theme-highlight;
  display: flex;
  color: white;
  .back,
  .next {
    line-height: $header-height;
    .iconfont {
      font-size: 20px;
    }
  }
  .back {
    margin-left: 50px;
    margin-right: 20px;
  }
}
