@import '../../common/scss/size.scss';
@import '../../common/scss/color.scss';

.sideInner {
  background-color: $gray-background;
  height: calc(100% - #{$music-tab-height});
  padding: 0 15px;
  div {
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    .iconfont {
      font-size: 16px;
      margin-right: 10px;
    }
  }
}
