@import '../../common/scss/size.scss';
@import '../../common/scss/color.scss';

.sideInner {
  width: 100%;
  display: flex;
  .item {
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    display: flex;
    margin-right: 20px;
    a:link,
    a:visited,
    a:hover,
    a:active {
      flex: 1;
      color: $gray-medium;
      text-decoration: none;
    }
    a:hover {
      color: $gray-deep;
    }
  }
  .active {
    border-bottom: 2px solid $theme-highlight;
  }
}
