@import '../../common/scss/size.scss';
@import '../../common/scss/color.scss';

.sideInner {
  background-color: $gray-background;
  height: calc(100% - #{$music-tab-height});
  .item {
    height: 50px;
    line-height: 50px;
    cursor: pointer;
    display: flex;
    padding: 0 15px;
    i {
      font-size: 16px;
      margin-right: 10px;
    }
    a:link,
    a:visited,
    a:hover,
    a:active {
      flex: 1;
      color: $gray-medium;
      text-decoration: none;
    }
    a:hover {
      color: $gray-deep;
    }
  }
  .active {
    background-color: $gray-light;
    border-left: 2px solid $theme-highlight;
  }
}
