@import '../../common/scss/color.scss';
@import '../../common/scss/size.scss';

.sheetDetails {
  height: 100%;
  overflow: auto;
  .header {
    padding: 40px;
    display: flex;
    .head {
      width: 200px;
      height: 200px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .headerContent {
      flex: 1;
      padding: 0 20px;
      h1 {
        font-weight: bold;
        font-size: $fontsize-large;
        margin-bottom: 10px;
      }
    }
  }
  .list {
    .song {
      padding: 0 40px;
      line-height: 25px;
    }
  }
}
