@import '../../common/scss/size.scss';
@import '../../common/scss/color.scss';

.list {
  .song {
    display: flex;
    padding: 0 40px;
    line-height: 30px;
    cursor: default;
    justify-content: space-between;
    color: $gray-medium;
    font-size: $fontsize-medium;
    .number {
      flex-basis: 25px;
    }
    .timer {
      flex-basis: 50px;
      padding: 0 10px;
    }
    .operation {
      text-align: center;
      flex-basis: 50px;
      padding: 0 10px;
      i:first-child {
        margin-right: 5px;
      }
    }
    .name {
      flex: 1.5;
      color: $gray-deep;
      padding: 0 10px;
    }
    .album,
    .singer {
      flex: 1;
      padding: 0 10px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
  .song:hover,
  .active {
    background-color: $gray-light!important;
  }
  .song:nth-child(odd) {
    background-color: #f5f5f7;
  }
}
