@import "../../common/scss/color.scss";
@import "../../common/scss/size.scss";
.play {
  width: 100%;
  height: $min-play-height;
  background-color: $gray-background;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  .progressWrap {
    width: 98%;
    display: flex;
    align-items: center;
    margin-top: 10px;
  }
  .operation {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0 50px 10px 50px;
    box-sizing: border-box;
    .tabWrap {
      flex: 1;
    }
    .cutSong {
      flex: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      .center {
        width: 35px;
        height: 35px;
        line-height: 35px;
        text-align: center;
        border-radius: 50%;
        background-color: $theme-highlight;
        color: white;
        i:hover {
          color: white;
        }
      }
      i {
        font-size: $fontsize-large-xxx;
        cursor: pointer;
        &:hover {
          color: $theme-highlight;
        }
      }
    }

    .musicListWrap {
      flex: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      i {
        font-size: $fontsize-large-xxx;
        margin-left: 10px;
        cursor: pointer;
        &:hover {
          color: $theme-highlight;
        }
      }
    }
  }
}
