@import '../../common/scss/color.scss';
@import '../../common/scss/size.scss';

.play {
  height: $min-play-height;
  background-color: $gray-background;
  border-top: 1px solid $gray-light;
  display: flex;
  .cutSong {
    display: flex;
    align-items: center;
    color: white;
    margin-left: 60px;
    .left,
    .right {
      width: 30px;
      height: 30px;
      line-height: 30px;
      border-radius: 50%;
      text-align: center;
      background-color: $theme-highlight;
      i {
        font-size: 12px;
      }
    }
    .center {
      width: 35px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      border-radius: 50%;
      background-color: $theme-highlight;
      margin: 0 25px;
    }
  }
}
