.container {
  display: flex;
  padding-top: 15px;
  height: calc(100vh - #{$header-height} - #{$min-play-height} - 1px);
  box-sizing: border-box;
  background-color: var(--body-bgcolor);
  .nav {
    flex-basis: 200px;
  }
  .view {
    flex: 1;
    height: 100%;
    overflow: auto;
    .title {
      font-size: $fontsize-large-xxxx;
      font-weight: bolder;
      padding: 20px 0;
    }
  }
}

.loading {
  text-align: center;
  margin-top: 40px;
}

body {
  color: black;
}

// 滚动条
::-webkit-scrollbar-track {
  background-color: var(--body-bgcolor);
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-color);
}

.hidden {
  display: none;
}
