@import "./common/scss/size.scss";

.container {
  padding: 0 50px;
  height: calc(100vh - #{$header-height} - #{$min-play-height} - 1px);
  overflow: auto;
  .title {
    font-size: $fontsize-large-xxxx;
    font-weight: bolder;
    padding: 20px 0;
  }
  .barWrap {
    margin-bottom: 20px;
  }
}

.loading {
  text-align: center;
  margin-top: 40px;
}

body {
  color: black;
}